<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(model: question, html: { class: 'custom-form' }) do |form| %>
        <% if question.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

            <ul>
              <% question.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group mb-5">
        <%= form.label :question_type %>
        <%= form.select :question_type, ["Essay", "Matching", "Multiple Choice", "Multiple Answer", "True/False"], {}, class: 'form-control' %>
       </div>

        <div class="form-group">
          <%= form.label :question_description %>
          <%= form.text_field :desc, class: 'form-control' %>
        </div>

        <div class="actions text-center mt-5">
          <%= form.submit 'Submit', class: 'btn btn-success' %>
          <%= link_to 'Cancel', question_types_path, class: 'btn btn-dark' %>
        </div>
      <% end %>
    </div>
  </div>
</div>