
<h2 class="mt-4 mb-3">Question: <%= @question.question_type %></h2>
<h4 class="mt-2 mb-3"><%= @question.desc %></h4>


<h4>Answers:</h4>
<div class="row">
  <% @options.each do |option| %>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h5 class="mb-0"><%= option.description %></h5>
        </div>
        <div class="card-body">
          <p>
            <strong>Correct Answer:</strong>
            <%= option.part1 %>
          </p>
  
          <p>
            <strong>Incorrect Answer:</strong>
            <%= option.part2 %>
          </p>
          <div class="d-flex flex-row">
          <%= link_to 'Edit', edit_question_option_path(@question, option), class: "btn btn-primary btn-sm mx-1" %>
  
          <!-- Button to destroy the option -->
          <%= button_to 'Destroy', question_option_path(@question, option), method: :delete, data: {turbo_confirm: "Are you sure you want to delete?" }, class: "btn btn-danger btn-sm mx-1" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>




