<div id="<%= dom_id option %>">
  <p>
    <strong>Description:</strong>
    <%= option.description %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= option.question_id %>
  </p>

   <p>
    <strong>Part 1:</strong>
    <%= option.part1 %>
  </p>

   <p>
    <strong>Part 2:</strong>
    <%= option.part2 %>
  </p>

</div>
