<div id="<%= dom_id survey %>" class="card mb-3" >
  <div class="card-body">
    <h5 class="card-title"><%= survey.title %></h5>

    <p class="card-text">
      <strong>Description:</strong>
      <%= survey.desc %>
    </p>

    <h4>Questions:</h4>
        <ul class="custom-list-style">
          <% survey.survey_questions.each do |survey_question| %>
            <li <%= survey_question %>"><%= truncate(survey_question.question.desc, length: 75) %></li>
          <% end %>
        </ul>
  </div>
</div>