<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>THE SurveyPro</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Lzlmx8s7enENFClUV7Kk/58GE12gGztiHyyLht4yG7F5At4QFzj0l4xH3o5HTo1f" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyVnXmzH/6zI1qYjOMVZ2KkX6D5NAKVI9R" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="d-flex flex-column" style="min-height: 100vh">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary border-bottom sticky-top">
  <%= link_to root_path, class: "navbar-brand custom-brand text-light btn btn-dark" do %>
    THE SurveyPRO</i>
  <% end %>

</nav>


<div class="m-5 p-5" style="background-color: red; border-color: yellow; border-style: dotted; border-width: 13px;">
  <!-- Main content -->
   <div class="flex-grow-1">
    <%= yield %> 
  </div>
  </div>


  <!-- Footer -->
   <footer class="bg-dark text-white text-center py-3">
    © 2024 Erica Teaford
  </footer>

  <!-- Bootstrap JS and Popper.js (if needed) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-BQBEQh2hxFWACVSgGSJ7nAGuV2zDIUp0CaPwl1bUxP1fuEGaFdNz86bdP3RS6T8B" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyVnXmzH/6zI1qYjOMVZ2KkX6D5NAKVI9R" crossorigin="anonymous"></script>
</body>
</html>
